section.offer_section
  .offer_wrapper
    - for (var i = 0; i < 5; ++i) {
      .product-description
        .offer_number -#{(i+1)*5}%
        img(src="assets/img/product#{i+2}.jpg" width="100%")
        .product-description-content
          h2 Iphone X
          .power
            i.ion-wifi
            i.ion-camera
            i.ion-wifi
            i.ion-camera
          .price
            h3 s/. 3220
            h3 s/. 2800
          .add-car
            span Agregar
            i.fa.fa-cart-plus
    - }
    - for (var i = 0; i < 5; ++i) {
      .product-description
        .offer_number -#{(i+1)*5}%
        img(src="assets/img/product#{i+2}.jpg" width="100%")
        .product-description-content
          h2 Iphone X
          .power
            i.ion-wifi
            i.ion-camera
            i.ion-wifi
            i.ion-camera
          .price
            h3 s/. 3220
            h3 s/. 2800
          .add-car
            span Agregar
            i.fa.fa-cart-plus
    - }
    - for (var i = 0; i < 2; ++i) {
      .product-description
        .offer_number -#{(i+1)*5}%
        img(src="assets/img/product#{i+2}.jpg" width="100%")
        .product-description-content
          h2 Iphone X
          .power
            i.ion-wifi
            i.ion-camera
            i.ion-wifi
            i.ion-camera
          .price
            h3 s/. 3220
            h3 s/. 2800
          .add-car
            span Agregar
            i.fa.fa-cart-plus
    - }
